# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
dist
build
.tanstack
.output

# Generated
src/routeTree.gen.ts

# Cache
.turbo
.cache

# Misc
*.tsbuildinfo
.env*
