SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://chamoda:@localhost:5432/launchbase
SQLALCHEMY_ECHO=False
LOG_LEVEL=DEBUG
SECRET_KEY=replace_me
SECURE_COOKIE=False
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002
